:root {
  --font-family: 'Open Sans', sans-serif;

  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 28px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;


    p, label, :placeholder-shown, button{
        font-size: 0.8125rem;
    }
}


h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
}

a{
  text-decoration: none;
  color: var(--black);
}
a:hover{
  color: var(--qnet-dark-purple) !important;
}
