
.navbar-logo{
    width: 100px;
    padding:5px;
    margin-left:10px;
}

.fa-bars{
  color: var(--white);
}
.navbar{
    background-color: var(--black);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profileUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: var(--qnet-pink);
}

.userName{
    padding-top: 10px;
}

.sidenav{
    background-color: var(--black);
    width: 200px;
    height: 100vh;
    text-overflow: clip;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1); 
}

.nav-link{
    padding: 12px 0 8px 10px;
    display: block;
    font-size: 14px;
    font-weight: .2rem;
    color: var(--grey-1); 
    text-decoration: none;   
}
.nav-link:visited{
  color: var(--grey-1); 
}

.nav-link.active-link {
  background-color: rgba(255, 255, 255, 0.08) !important;
  font-weight: 600;
  width: 120%;
}

.nav-link:hover{
    color: var(--qnet-pink) !important;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 9px;
    font-size: 12px;
    color: var(--grey-2);
    font-weight: 500;
    
}


/* Sidebar base styling */
.sidebar-container {
  width: 210px;
  background-color: var(--black);
  transition: transform 0.3s ease;
  z-index: 1000;
}

@media (max-width: 768px) {
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 900;
  }
}
