.fa-bars{
  color: var(--white);
}
.navbar{
    background-color: var(--black);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profileUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: var(--white);
}

.userName{
    padding: 10px;
}

.sidenav{
    background-color: var(--black);
    width: 200px;
    height: 200vh;
    text-overflow: clip;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1); 
}

.nav-link{
    padding: 12px 0 8px 10px;
    display: block;
    font-size: 14px;
    font-weight: .2rem;
    color: var(--grey-1);    
}

.nav-link:hover{
    color: var(--white) !important;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 9px;
    font-size: 12px;
    color: var(--grey-2);
    font-weight: 500;
    border-bottom: 2px solid var(--grey-2);
}


/* Sidebar base styling */
.sidebar-container {
  width: 210px;
  background-color: var(--black);
  transition: transform 0.3s ease;
  z-index: 1000;
}

@media (max-width: 768px) {
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 900;
  }
}
