:root {
 /* Qnet Logo colors */
  --qnet-dark-purple: #8a2764;
  --qnet-purple: #c52b74;
  --qnet-gold: #ecac42;

  /* General Colors */
  --black: #212121;
  --dark-grey: #282c34;
  --dark-grey-2: #282c3461;
  --white: #ffffff;
  --grey-1: #cacacbcf;
  --grey-2: #687384;
  --red: rgb(255, 80, 80);


  .custom-bg {
    background-color: var(--grey) !important;
  }
  
  .text-muted {
    color: #74788d !important;
  }
}
